* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.headerContainer {
    margin: 40px auto;
    max-width: 900px;
}

.container {
    display: flex;
    margin: auto;
    max-width: 900px;
}
.container .leftSide {
    flex: 1;
    margin-right: 35px;
}
.container .rightSide {
    flex: 1;
    margin-left: 35px;
}